.img-item{
    position: relative;
}

.options{
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
}

.img:hover + .options{
    display: block !important;
}

.options:hover{
    display: block !important;
}

.like-btn{
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 6.3px 10px;
    border: none;
    margin: 5px;
}

.like-btn:focus{
    outline: none;
}

.fa-heart{
    color: rgb(139, 139, 139);
    font-size: 15px;
}

.active{
    background-color: rgb(216, 71, 71) !important;
    color: white;
}

.cursor-pointer{
    cursor: pointer;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
.my-masonry-grid img{
    width: 100%;
    height: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
   
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }

@media screen and (max-width: 768px) {
    .options{
        position: absolute;
        margin: 5px 0px 10px 0px;
        padding: 10px 0px;
        display: flex;
        justify-content: flex-end;
    }

    .like-btn {
      position: static;
      margin-top: 3px;
      background-color: rgb(233, 233, 233);
    }
}



